<?php

$helper = $block->getHelper();
$helper->init();


if ($helper->getConfig('fanplayr/privacyid/enabled')){?>

<?php
$proxySubdomain = $helper->getConfig('fanplayr/privacyid/proxySubdomain');
$requireConsent = $helper->getConfig('fanplayr/privacyid/requireConsent');
?>

<!-- PrivacyID start -->
<script type="text/javascript">

(function(){function fn(){fn._i.push(arguments);}fn._i=[];window.PrivacyID=window.PrivacyID||fn;}());

PrivacyID('endpoint', '/fpsmart/privacyID/');

<?php if (!$requireConsent) { ?>
      PrivacyID('requireConsent', false);
<?php  } ?>


</script>

<script async src="https://<?=$proxySubdomain?>/library.js"></script>
<!-- PrivacyID end -->

<?php  } ?>